{% extends 'src/search_base.html' %}
{% block 'title' %}{{ title }}{% endblock %}
{% block 'content' %}
<div class="content">
    <div class="header">
      <div class="search">
        <input type="search" class="search__field" placeholder="Поиск" />
      </div>

      <div class="filter">
        <a href="{% url 'riad' %}" class="filter__btn">Ближайшие</a>
        <a href="{% url 'srok' %}" class="filter__btn">Срок</a>
      </div>
    </div>

    <div class="result">
        {% for mother in mothers %}
      <a href="{% url 'get_profile' id=mother.id %}" class="user">
        <img
          class="user__photo"
          src="/media/{{ mother.photo }}"
        />
        <div class="user__name">{{ mother.first_name }} {{ mother.last_name }}</div>
        
      </a>
      {% endfor %}
    </div>
  </div>
  {% endblock %}